@import "lib/_scut.scss";
@import "lib/_own.scss";
@import "project/_projectVariables.scss";

html, body {
	font-size:1rem;
}

html {
	min-height:100%;
	position:relative;
}

body {
	margin-bottom:scut-rem($footerHeight);//altura del footer
}

.navbar.navbar-default
{
	background-color:$menuBgColor;
	border:none;
	border-bottom:scut-rem(2) solid $menuAHoverColor;
	@include border-radius(0);
	a, li > a {
		color:$menuAColor;
		&:focus {
			color:$menuAColor;
		}
		&:hover {
			color:$menuAHoverColor;
			&:focus {
				color:$menuAHoverColor;
			}
		}
	}
	li.active {
		a, a:hover, a:focus {
			background-color:$menuAHoverColor;
			color:$menuBgColor;
		}
		
	}
	
}

header.header, footer.footer {
	border:0;
}

header.header {
	padding-left:0;
	padding-right:0;
}


footer, footer.footer {
	width:100%;
	height:scut-rem($footerHeight);
	background-color:$menuBgColor;
	border-top:scut-rem(2) solid $menuAHoverColor;
	position:absolute;
	bottom:0;
	color:$menuAHoverColor;
	small {
		color:$footerSmallColor;
	}
}

ul.nav.navbar-nav
{
	padding:0;
	margin:scut-rem(0 -15);
	@media(min-width:scut-rem(768))
	{
		margin:scut-rem(0);
	}
}

h2 {
	margin-bottom:scut-rem(30);
	width:100%;
	border-bottom:scut-rem(1) solid $menuBgColor;
	padding-bottom:scut-rem(10);
}
/* 	FORMS 	*/
.error {
	font-size:scut-rem(12);
	margin-top:scut-rem(5);
	color:$errorForm;
}
textarea
{
	min-height:scut-rem(200);
	max-height:scut-rem(400);
	max-width:100%;
}
ul.rating
{
	padding:0;
	margin:0;
	list-style:none;
	li {
		display:inline-block;
		cursor:pointer;
		margin:scut-rem(5);
		i {
			font-size:scut-rem(30);
			color:#ccc;

		}
		&.active
		{
			i {
				color:orange;
			}
		}
		&.hovered
		{
			i {
				color:red;
			}
		}
	}
}

ul.listComments
{
	list-style:none;
	padding:0 scut-rem(15);
	li {
		display :inline-block;
		@include border-radius(scut-rem(5));
		border:scut-rem(1) solid #ccc;
		padding-top:scut-rem(10);
		margin-bottom:scut-rem(15);
		ul.rating
		{
			li {
				border:none;
				cursor:default;
				margin:scut-rem(2);
				padding:0;
				i {
					font-size:scut-rem(16);
				}
			}
			
		}
	}
}

.score-container
{
	text-align:center;
	.score {
		font-size:scut-rem(60);
	}
	.rating-stars
	{
		margin:0 auto;
		height:scut-rem(100);
		width:scut-rem(190);
		position:relative;
		.rating-container, .rating-calculated
		{
			position:absolute;
			height:scut-rem(40);
			overflow:hidden;
		}
		ul.rating
		{
			li {
				padding:scut-rem(5);
				display: table-cell;
				cursor:default;
			}
		}
	}
}