//projectVariables
@import "../lib/_scut.scss";
@import "../lib/_own.scss";

//		MENU COLORS  		//

//Menú
$menuBgColor: #000;
$menuAColor: #fff;
$menuAHoverColor:#9c0;

//Footer
$footerSmallColor:#ec31dd;
$footerHeight:60;

//Forms
$errorForm:#a94442;
$starActive:orange;
$userColor:#264991;

//General
$borderColor:#ccc;
$borde:scut-rem(1) solid $borderColor;