<header class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Dandoman</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li data-ng-repeat="item in menu" data-ng-class="{active:isActive('{{item.path}}')}">
                <a data-ng-href="{{item.path}}">{{item.text}}</a>
              </li>
              <!-- <li ng-class="{active:isActive('/')}"><a href="#/">Home</a></li>
              <li ng-class="{active:isActive('/about')}"><a ng-href="#/about">About</a></li>
              <li ng-class="{active:isActive('/contact')}"><a ng-href="#/contact">Contact</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </header>

