<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><img src="images/dandoman.png" alt="I'm Dandomanos"><br>
    {{main.home.gretting}}
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">{{main.home.state}}<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>{{main.home.HTML5.title}}</h4>
  <p>
    {{main.home.HTML5.text}}
  </p>

  <h4>{{main.home.Angular.title}}</h4>
  <p>
    {{main.home.Angular.text}}
  </p>

  <h4>{{main.home.Karma.title}}</h4>
  <p>{{main.home.Karma.text}}</p>
</div>
